<!-- start custom analytics snippet -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-204916456-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-204916456-1');
</script>
<!-- <a title="Real Time Web Analytics" href="http://clicky.com/101329441"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script async src="//static.getclicky.com/101329441.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101329441ns.gif" /></p></noscript> -->
<!-- end custom analytics snippet -->
